.header-top__wrapper
  display: flex
  justify-content: space-between
  align-items: center
  border: 1px solid red
.logo
  width: 177px
.search
  margin-right: auto
  position: relative
  overflow: hidden
  margin-right: 108px
  border-radius: 6px
  height: 40px
  &__input
    padding-left: 23px
    padding-right: 70px
    background-color: $main_bcg
    width: 350px
    height: 100%
    border: none
  &__button
    position: absolute
    right: 0
    top: 0
    padding: 11px 22px
    background-color: $main_button
    border: none
.users__link
  display: flex
  align-items: center
